<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/bizo_logo_mark"
        android:label="Bizo"
        android:roundIcon="@drawable/bizo_logo_mark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.bizo.notificationlab.SHOW_MESSAGE" />
                <action android:name="io.bizo.notificationlab.SHOW_GROUP" />
                <action android:name="io.bizo.notificationlab.SHOW_MESSAGING_STYLE" />
                <action android:name="io.bizo.notificationlab.SHOW_GROUP_MESSAGING_STYLE" />
                <action android:name="io.bizo.notificationlab.SHOW_MESSAGING_STYLE_ACTIONS" />
                <action android:name="io.bizo.notificationlab.SHOW_CHILD_GROUP" />
                <action android:name="io.bizo.notificationlab.SHOW_MULTI_SUMMARY" />
                <action android:name="io.bizo.notificationlab.SHOW_MULTI_SUMMARY_AK_OPEN" />
                <action android:name="io.bizo.notificationlab.SHOW_MULTI_SUMMARY_JACOBI_OPEN" />
                <action android:name="io.bizo.notificationlab.SHOW_MULTI_SUMMARY_RESSI_OPEN" />
                <action android:name="io.bizo.notificationlab.SHOW_MULTI_SUMMARY_CYBER_OPEN" />
                <action android:name="io.bizo.notificationlab.SHOW_MULTI_SUMMARY_WITHOUT_JACOBI" />
                <action android:name="io.bizo.notificationlab.MESSAGE_REPLY" />
                <action android:name="io.bizo.notificationlab.MARK_READ" />
                <action android:name="io.bizo.notificationlab.SILENCE" />
                <action android:name="io.bizo.notificationlab.SHOW_ALL" />
                <action android:name="io.bizo.notificationlab.CLEAR" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
